.plantFormContainer {
  width: 100%;
  max-height: 650px;
  height: auto;
  background-color: var(--secondary-background-color);
  display: flex;
  flex-direction: column;
  padding: var(--spacing-large);
  border-radius: var(--border-radius-medium);
  overflow-y: auto;
}

.formTitle {
  width: 120px;
  margin-bottom: var(--spacing-medium);
  border-bottom: 1px solid var(--text-color);
}

.plantFormContainer .plantForm {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: var(--spacing-large);
  position: relative;
}

.plantForm .formGroup {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-small);
  flex: 1 1 45%;
  min-width: 200px;
}

.formGroup label {
  font-size: var(--font-size-base);
}
.formGroup input {
  height: 32px;
  padding-left: var(--spacing-small);
  border: none;
  border-bottom: 1px solid var(--text-color);
}
.formGroup input:focus {
  outline: none;
  border-bottom: 2px solid forestgreen;
}

.formGroup .temperatureInputs {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: var(--spacing-small);
}
.temperatureInputs .temperatureInput {
  width: 100%;
  text-align: center;
}
.temperatureErrorContainer{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  gap: var(--spacing-small);
}

.plantForm .buttonContainer {
  width: 100%;
  display: flex;
  gap: var(--spacing-small);
  margin-top: var(--spacing-medium);
}
.plantForm .buttonContainer .formButton {
  width: 100%;
  background-color: var(--button-color);
  color: var(--button-text-color);
  padding: var(--spacing-small) var(--spacing-medium);
  border-radius: var(--border-radius-medium);
  border: none;
  font-size: var(--font-size-base);
  align-self: center;
}
.plantForm .buttonContainer .formButton:hover {
  transition: 0.2s ease;
  background-color: var(--hover-color);
}

@media screen and (max-width: 768px) {
}
