.rootContainer {
  min-width: 340px;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--primary-background-color);
  padding: var(--spacing-xl);
}
.heroContainer {
  height: 100%;
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: var(--spacing-large);
  border-radius: var(--border-radius-medium);
}
.heroContainer header {
  width: 100%;
  display: flex;
  align-items: center;
}
header .title {
  flex-grow: 1;
}
header .openModalButton {
  width: 200px;
}
